/* -- GLOBAL */
img {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 33px;
  font-weight: bold;
  border: 5px solid black;
  border-radius: 50%;
  padding: 8px;
  width: fit-content;

}

.navList {
display: flex;
list-style-type: none;
padding-inline-start: 0;
gap: 16px;
}

.hjemNavList {
  opacity: 0.7;

  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}

.hjemNavList:hover {
  opacity: 1;
}

.stjernerNavList {
  opacity: 0.7;

  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}

.stjernerNavList:hover {
  opacity: 1;
}

.svarteHullNavList {
  opacity: 0.7;

  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}

.svarteHullNavList:hover {
  opacity: 1;
}

.navLink {
  color: black;
}

/* -- MAIN -- */

main {
  font-family: "Noto Sans";
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
}

.heroText,
.heroImg {
  width: 100%;
}

.heroText {
  text-align: center;
}

/* Stjerner */
.stjerner {
  display: flex;
  align-items: center;
}

.stjernerImg,
.stjernerText {
  width: 50%;
}

.stjernerText {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}



/* Svarte Hull */
.svarteHull {
  display: flex;
  align-items: center;
}

.svarteHullText,
.svarteHullImg {
  width: 50%;
}

.svarteHullText {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/* Overganger */

.buttonStjerner {
  opacity: 0.5;

  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}

.buttonStjerner:hover {
  opacity: 1;
}


.buttonSvarteHull {
  opacity: 0.5;

  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}

.buttonSvarteHull:hover {
  opacity: 1;
}


/* Footer */ 
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gitHub {
  opacity: 0.5;

  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}

.gitHub:hover {
  opacity: 1;
}

@media (
  max-width: 769px
) {
  .stjerner {
    flex-direction: column-reverse;
  }
  .svarteHull {
    flex-direction: column;
  }
  .stjernerText, .stjernerImg, .svarteHullText, .svarteHullImg {
    width: 80%;
  }
}